.task {
	border: 1px solid black;
	border-radius: 10px;
	margin: 30px auto;
	max-width: 50%;
	text-align: left;
	padding: 8px;
}

.complete {
	font-size: 22px;
	color: green;
	background-color: rgba(105, 253, 105, 0.329);
}

.incomplete {
	font-size: 22px;
	color: brown;
	background-color: rgba(253, 127, 127, 0.137);
}
