.input {
	border: 0px;
	border-radius: 6px;
	font-size: 22px;
	margin: 15px;
	text-align: center;
	padding: 5px;
}

.submitButton {
	font-size: 22px;
	border: 0px;
	border-radius: 6px;
	padding: 5px;
	background-color: rgb(168, 214, 252);
}

.submitButton:hover {
	cursor: pointer;
}

.taskForm {
	background-image: linear-gradient(
		109.6deg,
		rgb(45, 131, 224) 11.2%,
		rgba(57, 104, 235, 0.78) 100.2%
	);
	border-radius: 10px;
	margin: 0 auto;
	max-width: 50%;
	text-align: center;
	/* padding: 8px; */
}
